<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <h1>This is the Categories Page</h1>
    <ul>
       <% categories.forEach(category => { %>
            <li><%= category.name %></li>
        <% }) %>
    </ul>

    <nav>
    <a href="/">Back to Home</a>
    <a href="/products">Products</a>
    <a href="/users">Users</a>
</nav>
</body>
</html>